.lp {
    table {
        td {
            a {
                @include aSetting_nocolor;
            }
            &.date {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
            &.num {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }
    .list {
        padding-top: 1em;
        border-radius: 10px;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.08);
        background: #fff;
        .total {
            font-size: .875rem;
            padding: 0 1.5rem;
            color: $color-gray70;
            margin-bottom: .5em;
            .btn {
                padding: .4em 1.25em;
            }
        }
        &>ul,
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
            &.download {
                &>li {
                    &>a {
                        &::before {
                            content: "";
                            display: block;
                            background: url(../images/basic/icon_download.svg) center no-repeat;
                            background-size: contain;
                            flex: none;
                            width: 18px;
                            height: 18px;
                            margin-right: 8px;
                            transition: .2s ease-in;
                        }
                        &:hover {
                            &::before {
                                transform: translateY(2px);
                            }
                        }
                    }
                }
            }
            &>li {
                padding: 1em 1.5em;
                border-bottom: 1px solid $color-gray20;
                position: relative; // outline: 1px solid blue;
                display: flex;
                @include screen('tablet') {
                    flex-wrap: wrap;
                }
                &:last-of-type {
                    border-bottom: 0;
                }
                .tag {
                    margin-left: 2em;
                }
                &>a {
                    flex: 1 1 auto;
                    display: flex;
                    //padding-left: 2rem;
                    position: relative;
                    line-height: 1.45em;
                    color: $color-word;
                    @include screen('tablet') {
                        flex: 0 1 100%;
                    }
                    &:hover {
                        color: $aHover;
                    }
                    .num {
                        min-width: 1.5em;
                        margin-right: 5px;
                        text-align: right;
                        //position: absolute;
                        // top: 0;
                        // left: 0;
                        color: $primaryColor;
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }
                span.dept {
                    display: inline-block;
                    font-size: .938em;
                    @include screen("mobile") {
                        display: block;
                    }
                }
                time {
                    flex: 0 0 120px;
                    display: block;
                    color: $color-gray50;
                    font-size: .938em;
                    text-align: right;
                    @include screen('tablet') {
                        flex: 0 1 100%;
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}

// .album {
//     margin: 1em auto;
//     ul {
//         @include li-reset;
//         display:flex;
//         flex-direction:row;
//         justify-content:flex-start;
//         align-items:stretch;
//         flex-wrap:wrap;
//         li{
//             flex:0 0 30%;
//             margin:0 1.66% 3%;
//             display:flex;
//             flex-direction:row;
//             align-content: stretch;
//             @include screen('tablet'){
//                 flex:0 0 46%;
//                 margin:0 2% 3%;
//             }
//             @include screen('mobile'){
//                 flex:0 0 96%;
//                 margin:0 3% 5%;
//             }
//         }
//     }
// }