@charset "utf-8";
// 文章標題
h1.title,
h2.title {
    line-height: 1.25em;
    margin: .4em 0;
}

.shadowOut {
    padding: 1em 1.5em;
    background-color: #fff;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    @include screen('mobile') {
        padding: 1em;
    }
}

// .tt{ color: #222; }
.cp {
    padding: 0 60px;
    @include screen('mobile') {
        padding: 0;
    }
    .pic {
        float: left;
        margin: 0px 1em 1em 0;
        width: auto;
        width: 45%;
        max-width: 400px;
        background: #F1F1F1;
        overflow: hidden;
        padding: .5em .5em .2em;
        img {
            float: none;
            width: 100%;
            margin: 0;
            display: block;
        }
        span {
            text-align: center;
            display: block;
            font-size: .938em;
        }
        @include screen('mobile') {
            float: none;
            max-width: 100%;
            width: auto;
            margin: 0px auto;
            display: block;
            margin-bottom: .5em;
        }
    }
    .pic_full {
        max-width: 100%;
        margin-bottom: 1.5em;
        img {
            width: 100%;
            display: block;
        }
        .caption {
            background: $color-beige;
            text-align: center;
            padding: 1em;
        }
    }
    .textBlock {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 2em;
        height: 100%;
        @include screen('mobile') {
            padding: 1em;
        }
    }
    .pic_cover {
        width: 100%;
        height: 100%;
        @include screen('mobile') {
            height: auto;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include screen('mobile') {
                height: auto;
            }
        }
    }
    .content {
        padding: 0 1em;
        @include screen('mobile') {
            padding: 0;
        }
    }
    table {
        background: #FFF;
    }
    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
    }
    a {
        @include aSetting;
    }
    .text_center {
        text-align: center;
    }
    .publish_info {
        font-size: 0.875em;
        line-height: 1.5em;
        list-style: none;
        margin: 0 0 .7em 0;
        //border-left: solid 5px $primaryColor;
        //background: #F2F2F2;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        color: $color-gray60;
        @extend %clearfix;
        box-sizing: border-box;
        li {
            //flex: 1 1 calc(100% / 3);
            margin: 0 1.5em .5em 0;
            @include screen('tablet') {
                flex-basis: 100%;
            }
            @include screen('mobile') {
                margin: 0;
            }
        }
    }
    ol {
        >li {
            >ol {
                list-style-type: lower-latin;
            }
        }
    }
    .flex-6-6 {
        margin-bottom: 1.5em;
    }
}

// 檔案下載
.file_download {
    width: 100%;
    margin: 0 auto 2em;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: .5em 0 .5em 1.5em;
        border-bottom: solid 1px #eee;
        &:before {
            content: '·';
            font-size: 2em;
            font-weight: bold;
            width: 1em;
            height: 1em;
            position: absolute;
            top: .32em;
            left: .1em;
            color: #666;
        }
        .file_name {
            line-height: 1.8em;
            margin: .2em .5em .2em 0;
            color: #222;
            ~span {
                flex: 0 0 auto;
                margin: .2em;
                font-size: .875em;
                line-height: 1.5em;
                vertical-align: middle;
                color: #666;
                a {
                    color: #fff;
                    display: inline-block;
                    margin-right: 8px;
                }
            }
        }
        $fileType: doc,
        docx,
        odt,
        xls,
        xlsx,
        csv,
        ods,
        ppt,
        pptx,
        odp,
        zip,
        txt,
        mov,
        mp3,
        jpg,
        wmv,
        mp4,
        pdf,
        other;
        @each $fileType in $fileType {
            span.file_#{$fileType} {
                a {
                    color: #fff;
                    font-weight: bold;
                    padding: .2em .8em;
                    border-radius: 3px;
                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }
        span {
            &.file_doc,
            &.file_docx,
            &.file_odt {
                a {
                    background: #275cb7;
                    &:hover,
                    &:focus {
                        background: darken(#275cb7, 5%);
                    }
                }
            }
            &.file_xls,
            &.file_xlsx,
            &.file_csv,
            &.file_ods {
                a {
                    background: #387947;
                    &:hover,
                    &:focus {
                        background: darken(#387947, 5%);
                    }
                }
            }
            &.file_ppt,
            &.file_pptx,
            &.file_odp,
            &.file_pdf {
                a {
                    background: #c55a3b;
                    &:hover,
                    &:focus {
                        background: darken(#c55a3b, 5%);
                    }
                }
            }
            &.file_pdf {
                a {
                    background: #c00;
                    &:hover,
                    &:focus {
                        background: darken(#c00, 5%);
                    }
                }
            }
            &.file_zip {
                a {
                    background: #eb712e;
                    &:hover,
                    &:focus {
                        background: darken(#eb712e, 5%);
                    }
                }
            }
            &.file_txt,
            &.file_other {
                a {
                    background: #555;
                    &:hover,
                    &:focus {
                        background: darken(#555, 5%);
                    }
                }
            }
            &.file_mov {
                a {
                    background: #009999;
                    &:hover,
                    &:focus {
                        background: darken(#009999, 5%);
                    }
                }
            }
            &.file_mp3,
            &.file_mp4 {
                a {
                    background: #088ecc;
                    &:hover,
                    &:focus {
                        background: darken(#088ecc, 5%);
                    }
                }
            }
            &.file_jpg {
                a {
                    background: #6c29a4;
                    &:hover,
                    &:focus {
                        background: darken(#6c29a4, 5%);
                    }
                }
            }
            &.file_wmv {
                a {
                    background: #430a1f;
                    &:hover,
                    &:focus {
                        background: darken(#430a1f, 5%);
                    }
                }
            }
        }
    }
}

// 外部連結
.web_link {
    margin: 1em 0;
    @extend %clearfix;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ol,
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        position: relative;
        padding: .5em 0;
        border-bottom: solid 1px #eee;
        padding-left: 1.5em;
        &:before {
            content: '·';
            font-size: 2em;
            font-weight: bold;
            width: 1em;
            height: 1em;
            position: absolute;
            top: .35em;
            left: .1em;
            color: #666;
        }
        a {
            padding: .2em 0px;
            display: block;
            @include aSetting_nocolor;
        }
    }
}

.sectionBlock {
    padding: 1em 2em;
    margin: 0 0 1em 0;
    @include screen('mobile') {
        padding: 1em 0;
        &.bg_w {
            padding: 1em;
        }
    }
    >.container {
        padding: 0 60px;
        @include screen('mobile') {
            padding: 0 15px;
        }
    }
    &.bg_w {
        background-color: #fff;
    }
    h2 {
        margin: .5em 0;
        font-size: 2em;
    }
}

.illustrate {
    text-align: center;
    color: $color-brown;
}

.cards_grp {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.cardItem {
    flex-basis: 33.33333%;
    @include screen('mobile') {
        flex-basis: 100%;
    }
    .title {
        color: #fff;
    }
    >a {
        position: relative;
        display: block;
        margin: 0 1em;
        border-radius: 10px;
        overflow: hidden;
        &:hover,
        &:focus {
            .caption {
                top: 0;
                justify-content: center;
                .title {
                    white-space: normal;
                    overflow: auto;
                    text-overflow: initial;
                }
            }
        }
        &:focus {
            .caption {
                box-shadow: 0 0px 0px 2px $aFocus inset;
            }
        }
    }
    .img_container {
        @include aspect-ratio(1.1, 1);
        img {
            display: block;
            object-fit: cover;
        }
    }
    .caption {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em 1.5em;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: calc(100% - 70px);
        background-color: rgba($color-brown, .75);
        transition: .4s ease-in;
        .title {
            font-weight: bold;
            font-size: 1.5rem;
            margin: 0 0 .5em 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            line-height: 1.5em;
        }
        p {
            margin: .5em 0;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 128px;
        }
    }
}

.infoBlock {
    height: 100%;
    padding: 0 1em;
    overflow: hidden;
    h3 {
        color: $color-brown;
        font-size: normal;
        font-size: 1.5rem;
    }
    .notice {
        display: block;
        &::before {
            content: "";
            position: static;
            margin-right: 3px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../images/basic/icon_info.svg) center no-repeat;
            background-size: contain;
        }
    }
}

.service_object {
    margin-bottom: 2em;
    ul {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
        margin: 0.5em -0.65em;
    }
    li {
        margin: 0 .65em;
        flex-basis: calc(33.33333% - 1.3em);
        background-color: $color-yellow;
        min-height: 85px;
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        font-weight: bold;
        @include screen('mobile') {
            flex-basis: 100%;
        }
    }
}

.assistBlock {
    padding: 1em;
    background-color: $color-beige;
    text-align: center;
    strong {
        font-size: 1.5rem;
        line-height: 1.5em;
    }
    .check {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: .5em;
        img {
            display: block;
            width: 23px;
            margin-right: 5px;
        }
        a {
            text-decoration: underline;
        }
    }
}

//申請流程
.step {
    >ul {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        >li {
            flex-basis: 31%;
            border-radius: 10px;
            background-color: $color-beige;
            padding: 2em 3em;
            text-align: center;
            margin: 3em 0 1em 0;
            @include screen('mobile') {
                padding: 1em;
                flex-basis: 100%;
            }
            img {
                margin-top: -5em;
                max-height: 130px;
            }
            &:first-of-type {
                flex-basis: 100%;
            }
            p {
                margin: 0;
            }
        }
    }
    .title {
        font-size: 1.5rem;
        margin: .5em 0;
        color: $color-brown;
    }
    .howtoApply {
        color: $color-brown;
        ul {
            column-count: 2;
            list-style-type: disc;
            margin: 1em 0 0 0;
            padding-left: 30px;
            @include screen('mobile') {
                column-count: 1;
            }
        }
        li {
            text-align: left;
            margin-right: 10px;
            color: $color-word;
            a {
                color: $color-brown;
                text-decoration: underline;
                &:hover {
                    color: $aHover;
                }
            }
        }
    }
}

.categories {
    ul {
        @include li-reset;
        counter-reset: num;
    }
    li {
        margin: 2.5em 0;
        background: #fff;
        padding: 1em 2em;
        position: relative;
        &::before {
            counter-increment: num;
            display: block;
            text-align: center;
            content: counters(num, ".") " ";
            font-size: 5em;
            color: $color-brown;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            position: absolute;
            left: -20px;
            top: -5px;
        }
        @include screen('mobile') {
            padding: 1em;
            &::before {
                left: -10px;
                top: -10px;
            }
        }
        .title {
            color: $color-brown;
            font-size: 1.5rem;
        }
    }
}

.table_style1 {
    margin: 1em 0;
    h3,
    .title {
        font-size: 1.5rem;
        background-color: $color-brown;
        color: #fff;
        padding: .5em 1em;
        margin: 0 0 5px 0;
        text-align: center;
    }
    .notes {
        padding: .5em;
        background-color: #fff;
        margin: 5px 0;
    }
}

.qaBlock {
    margin: 1rem 0 2rem;
    .question,
    .answer {
        display: flex;
        margin-bottom: 1.2rem;
        span {
            font-size: 2.5rem;
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
            flex: 0 0 auto;
        }
        p {
            margin: 0;
        }
    }
    .question {
        font-size: 1.5rem;
        color: $color-brown;
        font-weight: bold;
    }
    .answer {}
}

.col {
    .infoBlock {
        border-left: 1px solid $color-gray40;
    }
    &:first-child {
        .infoBlock {
            border-left: none;
        }
    }
}

.left_block {
    &+.center_block {
        .cp {
            padding: 0;
        }
    }
}