.sectionBlock {
    padding: 1em 2em;
    margin: 1em 0;
    >.container {
        padding: 0 60px;
        @include screen('mobile') {
            padding: 0 15px;
        }
    }
    &.bg_w {
        background-color: #fff;
    }
}

.illustrate {
    text-align: center;
    color: $color-brown;
}

.cards_grp {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.cardItem {
    flex-basis: 33.33333%;
    @include screen('mobile') {
        flex-basis: 100%;
    }
    .title {
        color: #fff;
    }
    >a {
        position: relative;
        display: block;
        margin: 0 1em;
        border-radius: 10px;
        overflow: hidden;
        &:hover,
        &:focus {
            .caption {
                top: 0;
                justify-content: center;
                .title {
                    white-space: normal;
                    overflow: auto;
                    text-overflow: initial;
                }
            }
        }
        &:focus {
            .caption {
                box-shadow: 0 0px 0px 2px $aFocus inset;
            }
        }
    }
    .img_container {
        @include aspect-ratio(1.1, 1);
        img {
            display: block;
            object-fit: cover;
        }
    }
    .caption {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em 1.5em;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: calc(100% - 70px);
        background-color: rgba($color-brown, .75);
        transition: .4s ease-in;
        .title {
            font-weight: bold;
            font-size: 1.5rem;
            margin: 0 0 .5em 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            line-height: 1.5em;
        }
        p {
            margin: .5em 0;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 128px;
        }
    }
}

.infoBlock {
    height: 100%;
    padding: 0 1em;
    overflow: hidden;
    h3 {
        color: $color-brown;
        font-size: normal;
        font-size: 1.5rem;
    }
    .notice {
        display: block;
        &::before {
            content: "";
            position: static;
            margin-right: 3px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../images/basic/icon_info.svg) center no-repeat;
            background-size: contain;
        }
    }
}

.service_object {
    ul {
        @include li-reset;
        display: flex;
    }
    li {
        margin: 0 1em;
        flex-basis: calc(33.33333% - 2em);
        background-color: $color-yellow;
        min-height: 85px;
        padding: .5em 1.5em;
        display: flex;
    }
}

.col {
    .infoBlock {
        border-left: 1px solid $color-gray40;
    }
    &:first-child {
        .infoBlock {
            border-left: none;
        }
    }
}