* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 60px;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    padding: 2em 0 3em;
    background-color: $color-bg;
    >.container {
        @include gutter(); //gutter 代表左右要留白
        display: flex;
        flex-wrap: wrap;
    }
    h2.title {
        width: 100%;
        font-weight: 500;
        font-size: 1.875em;
        color: $color-brown;
        margin: 0 0 .5em 0;
    }
    .breadcrumb {
        width: 100%;
    }
    .center_block {
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 100%;
    }
    .left_block {
        flex: none;
        flex-basis: 260px;
        max-width: 260px;
        margin: 0 30px 0 0;
        @include screen('tablet') {
            flex-basis: 200px;
            max-width: 200px;
            margin-right: 20px;
        }
        @include screen('mobile') {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0 0 20px 0;
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 290px);
            max-width: calc(100% - 290px);
            @include screen('tablet') {
                flex-basis: calc(100% - 220px);
                max-width: calc(100% - 220px);
            }
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        .leftCtrl {
            display: none;
            width: 100%;
            margin: 0 0 3px 0;
            background-color: $secondaryColor;
            color: #fff;
            padding: .7em 1em;
            position: relative;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 13px;
            &::after {
                content: "";
                position: absolute;
                right: 20px;
                top: calc(50% - 8px);
                width: 8px;
                height: 8px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(135deg);
                display: block;
                transition: all .5s;
            }
            &.active {
                &::after {
                    transform: rotate(315deg);
                    top: calc(50% - 4px);
                }
            }
            @include screen('mobile') {
                display: block;
            }
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}

.innerpage_search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: top;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    label {
        font-size: 0em;
    }
    .form_grp {
        position: relative;
        flex: 0 1 100%;
        margin: 0;
        display: flex;
        input {
            margin: 0;
            box-shadow: none;
            border: 0;
            &[type='submit'] {
                min-width: auto;
                border-radius: 3px;
                font-size: 0em;
                width: 32px !important;
                height: 32px;
                background: $color-gray10 url(../images/basic/icon_search.svg) no-repeat center center;
                background-size: 20px;
                border: none;
                display: block;
                position: absolute;
                right: 4px;
                top: calc(50% - 16px);
                box-sizing: border-box;
                transition: .2s;
                opacity: .7;
                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
            &[type='text'] {
                background-color: #fff;
                border: 1px solid $color-gray30;
                width: 100%;
                padding: 0.5em;
            }
        }
        // button,
        // .btn,
        // .btn-search {
        //     min-width: auto;
        //     padding: 0.2em 1em;
        //     margin: 0;
        // }
    }
}

.hidden {
    display: none;
}